// color variables here
$blackgrey: #414141;
$grey: #8f8f8f;
$white: #ffffff;
$lightGrey: #f7f7f8;
$primary: #73edff;
$secondary: #000078;
$active: #e9718c;

// other variables here
$spacing: 15px;
$screen-xs-max: 767px;