.media-item {
    display: flex;
    width: 240px;
    overflow: hidden;
    padding: $spacing;
    flex-direction: column;
    transition: box-shadow 125ms ease-in-out;

    &__artist {
        text-align: center;
        .item__media {
            &__image {
                border-radius: 100%;
            }
        }
    }

    .item__media {
        &__image {
            width: 100%;
            max-width: 210px;
            border: 1px solid $grey;
        }
    }
    .item-description {
        margin-top: $spacing;
        &__header {
            font-weight: $bold;
        }
        &__text {
            margin-top: $spacing/2;
        }
    }
    &:hover{
        box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 3px -2px, rgba(0, 0, 0, 0.14) 0px 3px 4px 0px, rgba(0, 0, 0, 0.12) 0px 1px 8px 0px;
    }
}
